<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!--<add name="InstitutoConnection"
			 connectionString="Data Source=DESKTOP-T7C66HM;Initial Catalog=InstitutoTich;User ID=sa;password=Pass2017"
			 providerName="System.Data.SqlClient"
     />
		<add name="EmpresaConnection"
			  connectionString="Data Source=DESKTOP-0F4MFSE;Initial Catalog=InstitutoTich;User ID=sa;password=Pass2017"
			  providerName="System.Data.SqlClient"
     />-->
		<add name="LocalConnection"
			  connectionString="Data Source=DESKTOP-JDVOH45;Initial Catalog=DB_desde_transact;Integrated Security=True"
			  providerName="System.Data.SqlClient"
     />

	</connectionStrings>
</configuration>